body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
    background-image: url('background.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
}


header {
    background-color: #343a40; /* Dark gray header */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 50px 20px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #343a40; /* Dark gray heading */
}

.project {
    text-align: center;
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #343a40; /* Dark gray heading */
}

.project p {
    font-size: 16px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invalid {
    border: 1px solid red !important;
}

label, input, textarea {
    display: block;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #343a40; /* Dark gray button */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}

button:hover {
    background-color: #555; /* Dark gray hover button */
}
